# ======================
# .NET
# ======================
bin/
obj/
publish/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal

appsettings.Development.json

# ======================
# Node / Angular
# ======================
client/node_modules/
client/dist/
client/.angular/
client/.cache/

# ======================
# Build / deploy
# ======================
*.zip
*.tar
*.gz

# ======================
# Logs
# ======================
*.log

# ======================
# Environment / secrets
# ======================
.env
.env.*
*.local

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
*.swp
.vscode/node_modules/
node_modules/
client/node_modules/
