# .NET
bin/
obj/
*.user
*.suo
.vs/
*.db
*.db-shm
*.db-wal
appsettings.Development.json

# Node / Angular
client/node_modules/
client/dist/
client/.angular/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
